@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Header {
    @include responsive(desktop, laptop) {
        padding: 15px 20px;
        background-color: $black_color;
        color: $white_color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.wmode {
            background: $white_color;
            color: $black_color;
            border-bottom: 1px solid $grey_color_3;
        }
        .header-left {
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1400px) {
                margin-left: 10px;
            }
            .bar-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 10px;
                font-size: 24px;
            }
            .logo {
                font-family: 'Roboto-Bold';
                font-size: 28px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
            }
            .currency-pair {
                display: flex;
                flex-direction: row;
                margin-left: 80px;
                @media screen and (max-width: 1400px) {
                    margin-left: 10px;
                }
                .currency-text {
                    font-family: 'Roboto-Bold';
                    font-size: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media screen and (max-width: 1400px) {
                        font-size: 14px;
                    }
                }
                .down-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 5px;
                }
            }
            .data-block {
                display: flex;
                flex-direction: row;
                .data-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 20px;
                    @media screen and (max-width: 1400px) {
                        margin-left: 10px;
                    }
                    .green-big {
                        color: $green_color;
                        font-family: 'Roboto-Bold';
                        font-size: 18px;
                        @media screen and (max-width: 1400px) {
                            font-size: 14px;
                        }
                    }
                    .green-normal {
                        color: $green_color;
                        font-size: 12px;

                    }
                    .white-6 {
                        color: $grey_color_3;
                        font-size: 12px;
                    }
                    .white-bold {
                        font-size: 12px;
                        font-family: 'Roboto-Bold';
                    }
                }
            }
        }
        .header-right {
            display: flex;
            flex-direction: row;
            .menu-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Roboto-Medium';
                font-size: 16px;
                margin-right: 30px;
                @media screen and (max-width: 1400px) {
                    margin-right: 10px;
                    font-size: 12px;
                }
                cursor: pointer;
            }
            .deposit-button {
                background-color: $blue_color;
                font-family: 'Roboto-Medium';
                padding: 8px 12px;
                border-radius: 6px;
                cursor: pointer;
                margin-right: 30px;
                &.wmode {
                    color: $white_color;
                }
                @media screen and (max-width: 1400px) {
                    margin-right: 10px;
                }
            }
            .seperator {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 10px;
                color: $grey_color_3;
                @media screen and (max-width: 1400px) {
                    margin-right: 10px;
                }
            }
            .mode {
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                margin-right: 10px;
            }
            .user-image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            .username {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Roboto-Medium';
                color: $grey_color_3;
                font-size: 14px;
                @media screen and (max-width: 1400px) {
                    margin-left: 10px;
                }
            }
        }
    }
    @include responsive(mobile) {
    }    
}