$white_color: #FFFFFF;
$white_color_6: rgba(255, 255, 255, 0.6);
$green_color: #5ABC7C;
$black_color: #000;
$grey_color: #14151A;
$grey_color_1: #33353B;
$grey_color_2: #ADADAD;
$grey_color_3: #848484;
$blue_color: #006AFF; 
$red_color: #FF3333;